@using TravelBlogWebApplication.Models

@page "/fetchdata"
@inject ApiService ApiService

<h1>Data from API</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else if (users.Length == 0)
{
    <p>No data available.</p>
}
else
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Name: @user.Email</li>
        }
    </ul>
}

@code {
    private User[] ?users;

    protected override async Task OnInitializedAsync()
    {
        users = await ApiService.GetItemsAsync();
    }
}